// Fonts
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Bellota';

// Colors
$primary-color: #1ba4ce;
$h1-color: #1e2528;
$secondary-color: #473452;

$button-color: #30383b;

$primary-text-color: #888888;
$secondary-text-color: #555555;

// Containers
$small-container: 100%;
$large-container: 960px;
$x-large-container: 1140px;

// Breakpoints
$x-small: 480px; 
$small: 576px;
$medium: 768px;
$large: 992px;
$x-large: 1200px;
